body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(191, 234, 245);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-links {
  list-style-type: none;
  text-decoration-style: none;
  display: inline-block;
}

.portrait {
  justify-content: center;
}

.biography {
  justify-content: flex-end;
}

.project-picture {
  height: 300px;
  width: 300px;
}
